<!-- Login Modal -->
<div class="reveal" data-animation-in="fade-in fast" data-animation-out="fade-out fast" id="connectModal" aria-labelledby="exampleModalHeader11" data-reveal>
    <h4 id="connexion">Connexion</h4>
    <hr/>
    <div class="row">
        <div id="modalHead" class="medium-12 columns">
            <!--<button class="alert button"><i class="fa fa-google"></i> Connexion avec Google</button>
            <button class="button"><i class="fa fa-facebook"></i> Connexion avec Facebook</button>-->
        </div>
        <form method="POST" id="formConnect" action="{{path('connectAction')}}">
        <div class="medium-12 columns">
            <label>Mail
                <input type="text" name="login" id="mailConnect" placeholder="votremail@mail.com"/>
            </label>
            <p class="help-text" id="mailError"></p>

            <label>Mot de passe
                <input type="password" id="passwordConnect" name="password" placeholder="motdepasse"/>
            </label>
            <p class="help-text" id="passwordError"></p>
            <p>Vous n'avez pas encore de compte ? <a href="#" class="success" data-open="inscriptionModal">Inscrivez-vous maintenant !</a></p>
        </div>
        <div class="medium-12 columns">
            <div class="button-group" id="connectButton">
                <button form="formConnect" type="submit" id="submitButton" class="secondary button">Se Connecter</button>
                <button class="alert button" data-close type="button">Retour</button>
            </div>
        </div>
        </form>
    </div>
</div>
<!-- LoginModal end-->
<!-- Inscription Modal -->
<div class="reveal" data-animation-in="fade-in fast" data-animation-out="fade-out fast" id="inscriptionModal" aria-hidden="true" role="dialog" data-reveal>
    <h4 id="connexion">Inscription</h4>
    <hr/>
    <div class="row">
        <form id="signup" method="POST" action="{{url('signupAction')}}">
        <div class="medium-12 columns">
          <label>Nom
              <input type="text" name="name" placeholder="ex : Durand" required/>
          </label>
          <label>Prenom
              <input type="text" name="surname" placeholder="ex : Hubert" required/>
          </label>
            <label>Mail
                <input type="text" name="email" placeholder="ex : votremail@mail.com" required/>
            </label>
            <label>Mot de passe
                <input type="password" id="pwd" name="pwd" placeholder="Mot de passe" required/>
            </label>
            <label>Resaisir le Password
                <input type="password" name="repwd" id="repwd" placeholder="Retapez le mot de passe" required/>
                <p class="form-error" id="pwdError">Veuillez saisir le même mot de passe dans les deux champs</p>
            </label>
            <label>Adresse
                <input type="text" name="address" placeholder="ex : 3 rue de la fleur" required/>
            </label>
            <label>Code Postal
                <input type="text" name="pc" placeholder="ex : 75000" required/>
            </label>
            <label>Ville
                <input type="text" name="city" placeholder="ex : Paris" required/>
            </label>
        </div>
        <div class="medium-12 columns">
            <div class="button-group" id="connectButton">
                <input type="submit" class="secondary button" value="S'inscrire">
                <button class="alert button" data-close type="button">Fermer</button>
            </div>
        </div>
        </form>
    </div>
</div>
<!-- Inscription Modal end-->
